@import url('../reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$nav_font: 14px "Open Sanse"400 14px;
$font_sanse: "Open Sanse";
$font_robo: "Roboto Condensed";
$white: #fff;
$maincolor: #8cd3c9;
$secondColor:#6ac4b8;
$theredColor: #157d8c;
$yellowcolor:#fed34f;
a
{
    cursor: pointer;
}
nav {
    background: $maincolor;
    ul {
        background: url("../img/dog_foot.png") repeat-x 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        li {
            padding: 10px 50px 10px 0;
            a {
                display: block;
                font: $nav_font;
                color: $white;
                display: inline-block;
                background: $maincolor;
                text-decoration: underline;
            }
        }
    }
}

.header {
    background: $secondColor;
    border-bottom: 1px solid #99dad2;
    .wrapper {
        width: 960px;
        margin: 0 auto;
    }
    .logo {
        margin-top: 12px;
        float: left;
    }
    .search_header {
        padding-top: 15px;
        margin-left: 100px;
        float: left;
        h1 {
            position: relative;
            letter-spacing: 1.5px;
            color: $theredColor;
            font-family: $font_sanse;
            font-size: 22px;
            font-style: italic;
            line-height: 53px;
            span {
                font-weight: 700;
                
            }
        }
        .srch {
            position: relative;
            width: 411px;
            height: 30px;
            float: left;
            padding-left: 20px;
            font-size: 12px;
            font-weight: 400;
            line-height: 26px;
            
        }
        input::placeholder
            {
                color: $theredColor;
            }
        button {
            cursor: pointer;
            height: 30px;
            width: 30px;
            background: #157d8c;
            border: none;
            font-size: 17px;
            box-sizing: border-box;
            float: left;
            margin-left: 5px;
        }
        i {
            height: 20px;
            color: $white;
        }
    }
    .right_img {
        float: left;
        background: url(../img/dog_header.png);
        height: 116px;
        width: 175px;
        margin-top: 12px;
        margin-left: 50px;
    }
    .clr {
        clear: both;
    }
}

.second_menu {
    background: $secondColor;
    .menu_center {
        margin: 0 auto;
        width: 1000px;
    }
    ul {
        text-align: center;
        .leg {
            background: url(../img/singl_dog_foot.png) no-repeat;
            height: 20px;
            width: 20px;
        }
        li {
            text-align: center;
            float: left;
            margin-left: 20px;
            margin-top: 16px;
            margin-bottom: 16px;
            a {
                cursor: pointer;
                text-decoration: none;
                color: $white;
                font-family: $font_robo;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.4px;
            }
        }
        li:first-child {
            margin-left: 0;
        }
    }
    ul::after {
        content: "";
        clear: both;
        display: block;
    }
}

.container {
    background: $white;
    .wrapper {
        width: 960px;
        background: $white;
        margin: 30px auto;
        .questions {
            .carusel {
                float: left;
            }
            .question {
                float: right;
                .qhead {
                    background: $yellowcolor;
                    height: 30px;
                    width: 300px;
                    text-align: center;
                    padding-top: 10px;
                    h2 {
                        color: $white;
                        font-family: $font_robo;
                        font-size: 22px;
                        font-weight: 500;
                    
                    }
                }
                .qBody {

                    background-color: #f3f3f3;
                    max-width: 270px;
                    padding: 20px 10px 20px 20px;

                    h3
                    {
                        margin-bottom: px;
                        font-family: $font_robo;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    
                    input+label:hover
                    {
                        cursor: pointer;
                    }
                    label
                    {
                        font-family: $font_sanse;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                    input[type=checkbox] + label
                    {
                        display: block;
                        
                    }
                    input[type=checkbox]
                    {
                        display: none;

                    }
                    
                    input[type=checkbox] + label::before{
                        content: "\2714";
                        color: white;
                        background: #fff;
                        border: 1px solid #e3e3e3;
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        margin-top: 19px;
                        margin-right: 10px;
                        color: transparent;
                        text-align: center;
                    }
                    input[type=checkbox]:checked + label::before
                    {
                        background: #fed34f;
                        color: #fff;
                    }
                    
                    
                }
            }
        }
        .questions::after{
            content: "";
            clear: both;
            display: block;
        }

        .under_qustion
        {
            ul
            {
                position: relative;
                margin-left: -30px;
                li
                {
                    float: left;
                    margin-top: 40px;
                    margin-left: 25px;
                    position: relative;
                    a
                    {
                        font-family: $font_robo;
                        color: $yellowcolor;
                        font-size: 18px;
                        font-weight: 700;
                        
                    }
                }
                li:after
                {
                    position: absolute;
                    content: "";
                    top: -25px;
                    left: 50%;
                    background: url(../img/yellow_foot_dog.png);
                    width: 16px;
                    height: 16px;

                }
            }
        }






    }
}