@import url("../reset.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
nav {
  background: #8cd3c9;
}
nav ul {
  background: url("../img/dog_foot.png") repeat-x 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
nav ul li {
  padding: 10px 50px 10px 0;
}
nav ul li a {
  display: block;
  font: 14px "Open Sanse" 400 14px;
  color: #fff;
  display: inline-block;
  background: #8cd3c9;
  cursor: pointer;
  text-decoration: underline;
}

.header {
  background: #6ac4b8;
  border-bottom: 1px solid #99dad2;
}
.header .wrapper {
  width: 960px;
  margin: 0 auto;
}
.header .logo {
  margin-top: 12px;
  float: left;
}
.header .search_header {
  padding-top: 15px;
  margin-left: 100px;
  float: left;
}
.header .search_header h1 {
  position: relative;
  letter-spacing: 1.5px;
  color: #157d8c;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: italic;
  line-height: 53px;
}
.header .search_header h1 span {
  font-weight: 700;
}
.header .search_header .srch {
  position: relative;
  width: 411px;
  height: 30px;
  float: left;
}
.header .search_header button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: #157d8c;
  border: none;
  font-size: 17px;
  box-sizing: border-box;
  float: left;
  margin-left: 20px;
}
.header .search_header i {
  height: 20px;
  color: #fff;
}
.header .right_img {
  float: left;
  background: url(../img/dog_header.png);
  height: 116px;
  width: 175px;
  margin-top: 12px;
  margin-left: 50px;
}
.header .clr {
  clear: both;
}

.second_menu {
  background: #6ac4b8;
}
.second_menu .menu_center {
  margin: 0 auto;
  width: 1000px;
}
.second_menu ul {
  text-align: center;
}
.second_menu ul .leg {
  background: url(../img/singl_dog_foot.png) no-repeat;
  height: 20px;
  width: 20px;
}
.second_menu ul li {
  text-align: center;
  float: left;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.second_menu ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.second_menu ul li:first-child {
  margin-left: 0;
}
.second_menu ul::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  background: #fff;
}
.container .wrapper {
  width: 960px;
  background: #fff;
  margin: 30px auto;
}
.container .wrapper .questions .carusel {
  float: left;
}
.container .wrapper .questions .question {
  float: right;
}
.container .wrapper .questions .question .qhead {
  background: #fed34f;
  height: 30px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
}
.container .wrapper .questions .question .qhead h2 {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper .questions .question .qBody {
  background-color: #f3f3f3;
  max-width: 270px;
  padding: 20px 10px 20px 20px;
}
.container .wrapper .questions .question .qBody h3 {
  margin-bottom: px;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.container .wrapper .questions .question .qBody input + label:hover {
  cursor: pointer;
}
.container .wrapper .questions .question .qBody label {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.container .wrapper .questions .question .qBody input[type=checkbox] + label {
  display: block;
}
.container .wrapper .questions .question .qBody input[type=checkbox] {
  display: none;
}
.container .wrapper .questions .question .qBody input[type=checkbox] + label::before {
  content: "\2714";
  color: white;
  background: #fff;
  border: 1px solid #e3e3e3;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-top: 19px;
  margin-right: 10px;
  color: transparent;
  text-align: center;
}
.container .wrapper .questions .question .qBody input[type=checkbox]:checked + label::before {
  background: #fed34f;
  color: #fff;
}
.container .wrapper .under_qustion ul {
  position: relative;
  margin-left: -30px;
}
.container .wrapper .under_qustion ul li {
  float: left;
  margin-top: 40px;
  margin-left: 25px;
  position: relative;
}
.container .wrapper .under_qustion ul li a {
  font-family: "Roboto Condensed";
  color: #fed34f;
  font-size: 18px;
  font-weight: 700;
}
.container .wrapper .under_qustion ul li:after {
  position: absolute;
  content: "";
  top: -25px;
  left: 50%;
  background: url(../img/yellow_foot_dog.png);
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=style.css.map */
