@import url('/reset.css');

$nav_font: 14px "Open Sanse"400 14px;
$white: #fff;
$maincolor: #8cd3c9;
$secondColor:#6ac4b8;
$yellowcolor:#fed34f;

nav {
    background: $maincolor;

    ul {
        background: url("/img/dog_foot.png") repeat-x 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        li {
           padding: 10px 50px 10px 0;
            background: blue;
           a {
               display: block;
            font: $nav_font;
            color: $white;
            display: inline-block;
            background: $maincolor;
            cursor: pointer;
            text-decoration: underline;
        }
        }
    }
}
