doctype html
html(lan="en")

    head
        meta(charset='UTF-8')
        title dogs and cats
        link(rel="stylesheet" href="/sass/style.css")
    body
        .container
            nav
                ul
                    li 
                        a(herf="#") О проекте
                    li  
                        a(herf="#") Выставки
                    li
                        a(herf="#") Обратная связь
 



